<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Made of Code</string>
	<key>description</key>
	<string>Vibrant colors on a deep blue background.</string>
	<key>contactName</key>
	<string>Mark Dodwell</string>
	<key>contactEmailRot13</key>
	<string>mark@madeofcode.com</string>
	<key>uuid</key>
	<string>BC5DE172-1E1A-457C-8807-0B958DDE5B2D</string>
</dict>
</plist>
